body {
  background: rgb(6,6,6);
  background: linear-gradient(178deg, rgba(233,125,27,1) 0%, rgba(93,44,0,1) 19%, rgba(6,6,6,1) 100%);
}
a {
  color: #c38117;
  text-decoration: underline;
}
a:hover {
    color: #905f11;
}  
.h1, h1, .h4, h4 {
  font-weight: 900;
}
.solicit-title, .solicit-description {
  display: none;
}
#show-blurb {
  color: #ffffff;
}
#show-blurb p {
  font-size: 1.25rem;
  font-weight: 300;
}
label {
  font-weight: 900;
}
.alert-secondary {
  color: #f2770c;
  background-color: #ffffff;
  border-color: #ffffff;
}
.alert {
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
  padding: 5% 10%;
  background-color: #fff;
  border-radius: 8px;
}
.btn-primary {
  color: #fff;
  background-color: #c38117;
  border-color: #c38117;
}
.btn-primary:hover {
  color: #fff;
  background-color: #905f11;
  border-color: #905f11;
}
@media only screen and (max-width: 576px) {
  #show-blurb h1 {
      font-size: 2rem;
      line-height: 1;
  }
}
